.button {
	appearance: none;
	font-family: Trebuchet MS, sans-serif;;
	display: inline-block;
	border: none;
	padding: 8px;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:disabled {
		opacity: 0.5;
	}

	&_primary {
		color: var(--color-primary);
		background: white;
		border: 1px solid rgb(81, 81, 253);

		&:hover,
		&:focus {
			background: rgb(81, 81, 253);
			color: rgb(245, 245, 245);
		}
		&:active {
			background: rgb(119, 119, 253);
			color: white;
		}
	}

	&_secondary {
		color: rgb(240, 239, 239);
		background: rgb(24, 24, 24);
		border: 1px solid rgb(240, 239, 239);

		&:hover,
		&:focus {
			background: rgb(104, 40, 40);
			color: rgb(233, 233, 233);
		}
		&:active {
			background: rgb(236, 55, 55);
			color: white;
		}
	}
}
