.ooushModalBlurMask {
    position: fixed;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(8px);
}

.ooushModalContainer {
    font-family: var(--ooush-default-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: var(--ooush-background);
    border-radius: 10px;
    font-family: inherit;
    border: 1px solid var(--ooush-primary);
}

.ooushModalTitle {
    font-family: var(--ooush-default-font);
    font-weight: bold;
    color: var(--ooush-highlight-text);
    width: 80%;
    height: 10%;
}

.ooushModalContent {
    font-family: var(--ooush-default-font);
    color: var(--ooush-highlight-text);
    width: 80%;
    height: 50%;
}

.ooushModalControls {
    font-family: var(--ooush-default-font);
    color: var(--ooush-highlight-text);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 80%;
    height: 20%;
}

.ooushModalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ooush-default-font);
    color: var(--ooush-highlight-text);
    font-size: inherit;
    height: 80%;
    border: none;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--ooush-primary);
    box-shadow: none;
    transition: all 0.5s;
    &:hover {
        cursor: pointer;
        background-color: var(--ooush-primary-hover);
        box-shadow: 5px 5px #888888;
    }
    &:disabled {
        cursor: default;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: none;
    }
}