.accountDropdownContainer {
    font-family: var(--ooush-default-font);
	position: fixed;
	padding: 4px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	width: 300px;
	z-index: 999;
	background: var(--ooush-background);
	right: 0;
	top: 62px;
	text-align: center;
	border-radius: 6px;
    color: var(--ooush-highlight-text);
}

.accountDropdownItem {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	border-radius: 20px;
    background: var(--ooush-primary);
    color: var(--ooush-highlight-text);
    margin: 2px 0 2px 0;
	&:hover {
		background: var(--ooush-primary-hover);
		cursor: pointer;
	}
}