@use "./common.module.scss";
@use "../src/components/ooush-table/ooushTable.module.scss";

.main {
    height: 100%;
    width: 100%;
    .overviewcard {
        display: flex;
        height: 290px;
        width: 24vw;
        left: 0;
        margin: 0 0.5% 0 0.5%;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: rgba(221, 51, 221, 0.2);
        border-radius: 10px;
        transition: all 1s;
        z-index: 0;

        &__0 {
            @extend .overviewcard;
            left: 0;
        }

        &__1 {
            @extend .overviewcard;
            left: 25%;
        }

        &__2 {
            @extend .overviewcard;
            left: 50%;
        }

        &__3 {
            @extend .overviewcard;
            left: 75%;
        }

        &__button {
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            background: none;
            border: 1px solid;
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }

        &__icon {
            &:hover {
                border: 1px solid;
                cursor: pointer;
            }
        }

        &__selected {
            @extend .overviewcard;
            width: 99vw;
            height: 89vh;
            left: 0;
            transition: all 1s;
            z-index: 999;
            background-color: rgba(221, 51, 221, 1.0);
        }

        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
                cursor: pointer;
                fill: white;
            }
        }
    }

    &__overview {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 265px;
        grid-gap: 20px;
        margin: 20px;
        height: 300px;
    }

    .weekendcard {
        display: flex;
        left: 0;
        margin: 0 0.5% 0 0.5%;
        top: 55vh;
        height: 290px;
        width: 24vw;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: rgba(130, 190, 246, 0.9);
        border-radius: 10px;
        transition: all 1s;
        z-index: 0;

        &__0 {
            @extend .weekendcard;
            left: 12%;
        }

        &__1 {
            @extend .weekendcard;
            left: 37%;
        }

        &__2 {
            @extend .weekendcard;
            left: 62%;
        }

        &__button {
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            background: none;
            border: 1px solid;
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }

        &__icon {
            &:hover {
                border: 1px solid;
                cursor: pointer;
            }
        }

        &__selected {
            @extend .weekendcard;
            width: 99vw;
            height: 88vh;
            top: 10vh;
            transition: all 1s;
            z-index: 999;
            left: 0;
            background-color: rgba(130, 190, 246, 1.0);
        }
    }

    &__cards {
        column-count: 1;
        column-gap: 20px;
        margin: 20px;

        @media screen and (min-width: 580px) {
            column-count: 2;
        }

        @media screen and (min-width: 920px) {
            column-count: 3;
        }
    }

    .dashboardCardCloseButton {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.divRoutinesTableContainer {
    margin-top: 5%;
    height: 100%;
    width: 100%;
}