.main {
    font-family: var(--ooush-default-font);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    background: var(--ooush-black);
    color: var(--ooush-red);
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    background: var(--ooush-black);
    color: var(--ooush-red);
}